
.product-list-item-container {
    display: flex;
    flex-direction: column;
    width: 31%;
    justify-content: flex-start;
    margin: 8px;
}
  
.product-image {
    width: 99%;
    height: 280px;
    border-radius: 5px;
}
  
.title-vendor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    line-height: 2px;
}
  
.title {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(41, 40, 40);
}

.vendor {
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(83, 83, 83);
}

.prices-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    line-height: 1px;
}
  
.price {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(240, 24, 132);
    margin-right: 15px;
}
  
.compare-at-price {
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(126, 125, 125);
    text-decoration: line-through;
    margin-right: 10px;
}
  
.discount-text {
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(236, 163, 27);
}
  
.add-to-cart-btn {
    background-color: rgb(103, 185, 239);
    border: none;
    padding: 8px 2px;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
}
  
  
  
  
  


